

body{
    font-family: Verdana;
    background-color: goldenrod;
}

label{
    width: 148px;
    display: inline-block;
}

.form-groep{
    margin: 10px 0px;
}

div.container{
    width: 960px;
    margin: 0 auto;
}

div.flex-container{
    display: flex;
    gap: 30px;
}

div.items{
    width: 300px;
}
